__pycache__/
*.pyc
venv*/
.DS_Store
temp/
*.wav

# Allow specific model and data files
!model/multimodal_model/
!model/multimodal_model/**/*

# audio_scaler.pkl exception
!data/
!data/audio_scaler.pkl

training_accuracy.png
